.shadow-base{
    box-shadow:0 0 15px rgba(28, 39, 60, 0.06);
}

.circle-value{
    background: #fafafa;
    border-radius: 50%;
    width:90px;
    height:90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}