@import '../../scss/variable.scss';



.pay-border {
    padding:15px 15px 0;
    border:1px solid #e1e1e1;
    border-radius:0.25rem;
    .pay-syn-money{
        font-weight:500;
        color:$primary-color;
        font-size:16px;
    }
   
}

.pay-syn-title{
    font-weight:500;
    color:$primary-color;
    font-size:16px;
    padding-right:10px;
}
.pay-syn-text{
    color:#97a3b9;
    &+  .pay-syn-text{
        font-weight:500;
        color:#252525;
    }
}

.pay .pay-title .pay-pending{
    font-size:20px;
}