@import "../../scss/variable.scss";

.media-body {
  background-color: transparent!important;
  padding: 0!important;
  border-radius: 0!important;
  .media-body-wrap {
    background-color: #fff;
    border-radius: 10px;
  }
}
