.fc-col-header-cell {
    position: relative;
    .slot {
        position: absolute;
        right:0;
        bottom:0;
       font-size:12px;
        padding: 1px;
        color:#aaa;
        line-height: 1;
        border-top: 1px solid #e1e1e1;
        border-left: 1px solid #e1e1e1;
    }
}
#js-book-calendar {
    .book-schedule {
        background-color: #fd7e14;
        color: #fff;
        border-color: #fd7e14;
    }
}
.tc-comment-wrap {
    border-top:0;
}
.fc-toolbar-title {
    min-width: 140px;
    text-align: center;
}

.teacher__info-wrap {
    .swiper-slide.swiper-slide-active {
        width:100%!important;
    }
}