@import '../../scss/variable.scss';

.swiper-slide-active {
    width:100%!important;
}

.teacher__info-wrap {
    .swiper-slide {
        &.active {
            width:100%!important;
        }
        &:not(.active) {
            width: 0!important;
            max-height:0!important;
            overflow: hidden;
        }
    }
}

.select__control--is-focused {
    border-color: hsl(0,0%,80%)!important;
    box-shadow: none!important;
}
.select__multi-value {
    background-color: $primary-color!important;
    .select__multi-value__label {
      color:#fff;
      font-size:13px !important;
    }
    .select__multi-value__remove {
      color:#fff;
      &:hover {
        background-color: inherit!important;
        cursor: pointer;
      }
    }
  }