.swiper-slide-active {
    width:100%!important;
}

.select2.select2-container{
   width:auto!important;
}

.teacher__info-wrap {
    .swiper-slide {
        &.active {
            width:100%!important;
        }
        &:not(.active) {
            width: 0!important;
            max-height:0!important;
            overflow: hidden;
        }
    }
}